<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bartik</title>
</head>
<body>
    <h1>Este es el formulario del login</h1>
    <form action="/login" method="POST">
        <p>Ingrese su nombre de usuario</p>
        <input type="text" name="username"> 
        <p>Ingrese su contraseña</p>
        <input type="password" name="password"> <br>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>